<div class="row">
  <div class="col-xs-12">
    <div class="row">
    	<h1>Bicycles</h1>

    	<% if signed_in? && current_user.admin? %>
    	  <%= link_to raw('<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Product'), new_product_path, :class => "btn btn-default right" %>
    	<% end %>
    </div>
    <div class="row">
      <% if @products.exists? %>
        <%= cache(cache_key_for_products) do %>
      	  <%= render @products %>
        <% end %>
      <% else %>
        <p class="p-link">Sorry, but it doesn&rsquo;t look like we have what you&rsquo;re looking for at the moment. <%= link_to 'Drop us a line', contact_path %> and we&rsquo;ll try to find it for you!</p>
      <% end %>
    </div>

    <%= will_paginate @products, class: "apple_pagination" %>
  </div>
</div>
