<nav class="navbar navbar-fixed-top sitenavbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "", home_path, class: "navbar-brand bear", title: "Bicycle Berlin Home" %>
    </div><!-- end navbar-header -->
    <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
      <%= form_tag("/products", method: "get", class: "navbar-form navbar-left", role: "search") do %>
        <div class="form-group">
          <%= text_field_tag(:q, nil, placeholder: "Search for bicycles", class: "form-control") %>
        </div>
        <%= submit_tag("Search", class: "btn btn-default") %>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Bicycles", products_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <li>
          <% if user_signed_in? %>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
          <% else %>
            <%= link_to('Login', new_user_session_path) %>
          <% end %>
        </li>
      </ul>
    </div><!-- end navbar collapse -->
  </div><!--end nav container -->
</nav><!-- end navbar -->
